#guidance{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: lightgray;
    opacity: .8;
    display: none;
}
#guidance-img{
    position: absolute;
}
.guidance-img1 {
    margin-left: 335px;
    margin-top: 150px;
}
.guidance-img2{
    margin-left: 689px;
    margin-top: 13px;
}
.guidance-img3{
    margin-left: 668px;
    margin-top: 312px;
}
.guidance-img4{
    margin-left: 508px;
    margin-top: 90px;
}
.guidance-img5{
    margin-left: 607px;
    margin-top: 90px;
}

